/client8081/client.iml
/client8081/client8081.iml
/client8081/HELP.md
/client8081/mvnw
/client8081/mvnw.cmd
/client8081/target/
/client8081/.mvn/
/client8083/.mvn/
/client8083/target/
/client8083/client8083.iml
/client8083/HELP.md
/client8083/mvnw
/client8083/mvnw.cmd
/client8082/client8082.iml
/client8082/HELP.md
/client8082/mvnw
/client8082/mvnw.cmd
/client8082/target/
/client8082/.mvn/
/configs/configs.iml
/configserver/target/
/configserver/configserver.iml
/configserver/HELP.md
/configserver/mvnw
/configserver/mvnw.cmd
/configserver/.mvn/
/server/server.iml
/server/mvnw.cmd
/server/mvnw
/server/HELP.md
/server/target/
/server/.mvn/
/server8762/server8762.iml
/server8762/HELP.md
/server8762/mvnw
/server8762/target/
/server8762/mvnw.cmd
/server8762/.mvn/